<!-- templates/base.html -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/templatemo-medic-care.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--jquery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>DonorPool</title>

    {% block extracss %} {% endblock extracss %}


</head>

<body id="top">
    <main>

        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">
                <a class="navbar-brand mx-auto d-lg-none" href="/">
                DonorPool
                <strong class="d-block">Healthcare Service</strong>
            </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#hero">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#timeline">Timeline</a>
                        </li>

                        <a class="navbar-brand d-none d-lg-block" href="/">
                        DonorPool
                        <strong class="d-block">Healthcare Service</strong>
                    </a>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'posts' %}">Posts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#booking">Booking</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        {% if user.is_authenticated %} {% now "Y-m-d" as todays_date %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile'%}"> Profile </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <div class="alert alert-success" role="alert">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a class="btn btn-primary btn-sm" href="{% url 'signup' %}" role="button">Signup</a>
                                    <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">Login</a>
                                </div>
                            </div>
                        </li>
                        {% endif %}

                        <li>
                            <nav class="navbar navbar-light bg-light">
                                <div class="container-fluid">
                                    <form class="d-flex" action="{% url 'query' %}" method="post">
                                        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline-success" type="submit">Search</button> {% csrf_token %}
                                    </form>
                                </div>
                            </nav>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        {% block content %} {% endblock %}
    </main>

    <footer class="site-footer section-padding" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 me-auto col-12">
                    <h5 class="mb-lg-4 mb-3">Opening Hours</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex">
                            Sunday : Closed
                        </li>

                        <li class="list-group-item d-flex">
                            Monday, Tuesday - Firday
                            <span>8:00 AM - 3:30 PM</span>
                        </li>

                        <li class="list-group-item d-flex">
                            Saturday
                            <span>10:30 AM - 5:30 PM</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                    <h5 class="mb-lg-4 mb-3">Our Clinic</h5>

                    <p><a href="mailto:hello@company.co">hello@company.co</a>
                        <p>

                            <p>123 Digital Art Street, San Diego, CA 92123</p>
                </div>

                <div class="col-lg-3 col-md-6 col-12 ms-auto">
                    <h5 class="mb-lg-4 mb-3">Socials</h5>

                    <ul class="social-icon">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/" target="_blank" class="social-icon-link bi-youtube"></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12 ms-auto mt-4 mt-lg-0">
                    <p class="copyright-text">Copyright © DonorPool 2022
                        <br><br>Design: <a href="https://www.facebook.com/" target="_blank">Shajib</a>
                    </p>
                </div>

            </div>
            </section>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/scrollspy.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>